@mixin font($size, $fontWeight) {
	font-size: $size;
	color: $main-text-color;
	font-weight: 500;
	font-family: "Times", sans-serif;
}

// Міксін,з необмеженою к-стю параметрів
@mixin padd($padd...) {
	padding: $padd;
}

@mixin links($main-color, $hover, $active) {
	a {
		color: $main-color;

		&:hover {color: darken($main-text-color, 10%)}
		&:active {color: $active;}
	}
}