// Підключення файлу з змінними
@import "vars";
@import "extends";
@import "mixins";

// Розширення
%block {
	color: green;
	background: silver;
}

body {
	background: $main-text-color;
	width: (60% - 10%);
	@include links(black, red, green);
}

p.txt {
	color: $main-text-color;
	font-family: $font-family, sans-serif;
}

span.text {
	color: $main-text-color;
	font-family: $font-family, serif;
	font-weight: bold;
}

.block {
	p {
		@include font(50px, light);
		@extend %block;
	}
}


// Вкладені стилі
.block2 {
	p {	
		@include padd(20px, 30px, 40px, 100px);
		@extend %block;
	}
}

a {
	@include font(50px, light);
	@extend %block;
}