@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Roboto, sans-serif;
}

p {
    /* Властивість initial - повертає початкове значення об’єкту */
    color: initial;
}

p > span {
    color: initial;
}

.block {
    background: #eee;
    padding: 10px;
    background-color: bisque;
}

.block > p {
    /* !important  використовується для надання властивості/значенню більшої важливості, ніж зазвичай. */ 
    background: #ccc!important;

    /* Властивість inherit - дозволяє унаслідувати значення від батьківського елементу */

    padding: inherit;

    /* Властивість unset - це те саме, що  inherit, якщо є властивість, то вона успадковується, якщо є initial то не успадковується */ 

    margin: unset;

    /* Властивість all скидає всі властивості елемента, окрім , і настроюваних властивостей CSS */
    all: initial;
}