.container {
    /* Для батьківського елементу вказуємо,
            display: flex;
     після цього об’єкти,
      які всередині стають в ряд */ 
    display: flex;

    /* Переносить елемент на новий рядок */
    flex-wrap: wrap;

    /* вирівнює елементи по заданій властивості */
    justify-content: center;

    /* тип розміщення елементів, горизонтально або вертикально */
    flex-direction: column;
}

.container > div {
    padding: 10px;
    border: 1px solid silver;
    margin-bottom: 10px;
    flex-basis: 30%;

    /* вирівнює елементи по поперечній осі */
    align-items: stretch;
}

.box-1 {
    /* Замість width вказуємо flex-basis: 500px; */
    /* flex-basis: 100px; */

    /* Властиівість flex задає пропорцію між блоками */ 
    flex: 1;

    /* order дозволяє сортувати елементи по порядку */
    order: 2;
}

.box-2 {
    flex: 2;
    order: 3;
}

.box-3 {
    flex: 3;
    order: 1;
}