/* Типи відображення елементівв, параметри */ 

/*
    display: block
    (задавати не обов'язково, тег div - блочний за замовчуванням 
*/ 

/* display: inline-block; */
/* робить елемент строчно-блочнимм */ 

/* display: none */
/* повністю приховує елемент зі сторінки */

/* Властивість display не анімується, плавне появлення задати не можливо */ 

/* padding - задає внутрішні відступи */

/* margin - задає зовнішні відступи */

/* border - додає елементу рамку */ 

/* box-sizing: border-box; - міняє формулу розрахунку фактичної ширини і висоти елементу */ 
/* елемент буде мати такий розміри, які задані в width i height */
/* ні padding, ні border, не будуть збільшувати ширину і висоту елементу */


div {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border: 5px solid indianred;
    padding: 15px 40px;
    box-sizing: border-box;
}





