@import "vars";
@import "extends";
@import "mixins";

.block {
  @extend %block;
  width: (300em / 5 - 10em);

  margin-bottom: 20px;
  > p {
    color: white;

    > a {
      @include font(20px, bold, black);

      &:hover {text-decoration: line-through;}
    }

    &::first-letter {color: $color-text}
  }

  &:hover {
    background: green;
  }

  &::after {
    content: 'Hi';
  }
}

.block-2 {
  @extend %block;
  @include padd(#fcfcfc, 100px, 100px, 140px, 150px);

  @include links(white) {
    background: #333;

    b {
      color: red;
    }

    &:visited {color: green}
  }
}

@include links(red);

.btn-red {
  @extend %btn;
  @include font($color: white, $size: 24px, $fontWeight: light);
  background-color: red;
}

.btn-green {
  @extend %btn;
  background-color: green;
}

#main-block {
  float: left;
  width: 100%;
  margin-top: 20px;

  > div {
    @include blocks(5);
  }
}

@for $el from 4 to 9 {
  .#{$some-class}-#{$el} {
    padding: (20px + $el) * 2;
  }
}
