/* Універсальний селектор */
/* Застосовується до всього, що на сторінці */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/*  Cелектор по тегу */ 
p {
    font-weight: 700;
}

/* Селектор по класу */
.link {
    color: purple;
    text-decoration: none;
}

/* Селектор по ідентифікатору */ 
#main {
    font-size: 30px;
}

/* Селектор по атрибуту */
[type="text"] {
    box-shadow: 5px 5px 3px 4px #5c7ccd;
}

/*  Селектор [attr*=value] по атрибуту */
[href*="google.com"] {
    padding-left: 1em;
    background: url(google-logo.png) 0 50%/1em no-repeat;
}

/* Селектор [attr^=value] по атрибуту */ 
/* Шукає значення, які починаються з http:// */ 
[href^="http://"] {
    color: #5c7ccd;
}

/* Cелектор [attr$=value] по атрибуту */ 
/* Шукає значення, які закінчуються на .com */ 
[href$=".com"] {
    font-size: 20px;
    text-decoration: none;
}

/* Cелектор [attr~=value] по атрибуту */ 
/* Шукає значення, які закінчуються на .com */ 
[alt~="cat"] {
    border: 10px dashed forestgreen;
}

/* Cелектор [attr|=value] по атрибуту */ 
/* Шукає значення, які містять warning або починаться з warning */
[class|="warning"] {
    color: orange;
}

/*  Селектор потомка */
section p span {
    color: aqua;
}

/* Групування селекторів */
h1,
h2,
h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button {
    background-color: grey;
}

/* Обʼєднання селекторів */ 
.button.is-active {
    background-color: coral;
}

/* Селектор прямих дочірних елементів */
p > span {
    font-size: 25px;
}

/* Суміжний селектор */
/* Вибирає тільки один тег, який йде наступним, що знаходяться на одному рівні */ 
p + span {
    color: #5c7ccd;
}

/* Суміжний селектор */ 
/*  Вибирає всі теги, що йдуть наступними, знаходяться на одному рівні */ 
span ~ p {
    color: #5c7ccd;
}

/* Cпецифічність селектор */ 
/* Застосується той тег, який прописаний нижче */ 
p {
    color: red;
    color: blue;
}

/* Вага кожному селектор */ 
/* 1.  #id */
/* 2. .class */ 
/* 3. [attr^=value] */
/* 4. button:disabled */
/* 5. p {} */
/* 6. p::before */ 