/* 
Анатомія CSS-правила
p -  селектор
padding - властивість 
50px; - значення 
*/ 

/* Cелектор - це ключ доступ до певних елементів */ 

/* Cелектор по тегу */ 
p {
    padding: 50px;
}


/* Наслідування по тегу body */
/* Стилі будуть застосовуватись до всіх елементів сайту */ 

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    letter-spacing: 4px;
}

/* Коментар CSS */