.main-div {
    position: relative;
}

.input {
    padding: 20px 15px;
    background: #fcfcfc;
    border-radius: 5px;
    border: 1px solid silver;
    outline: none;
    display: block;
    margin-bottom: 30px;
    width: 300px;
}

.hint {
    display: none;
    position: absolute;
    background: #fcfcfc;
    border-radius: 10px;
    border: 2px solid silver;
    padding: 10px;
}