#block {

    /* Ширина блоку */
    width: 200px;

    /* Висота блоку */
    height: 200px;

    /* Задній колір фону  */
    background-color: #ddd;

    /* Обводка  */ 
    border: 10px dashed teal;

    /* Cкруглення кутів */ 
    border-radius: 10px 150px;

    /* Прозорість блоку */
    opacity: 0.8;

    /* Зовнішній відступ */ 
    margin: 50px;

    /* Внутрішній відступ */ 
    padding: 25px;

    /* Скрол контенту в об’єкті, якщо він не поміщається */ 
    overflow: hidden;
}

textarea {
    max-width: 400px;
    opacity: 0;
}